.input {
    background-color: #ccd0d5;;
    border-radius: 5px;
    margin-bottom: 3%;
    width: 45%;
}

.inputLarge {
    background-color: #ccd0d5;;
    border-radius: 5px;
    margin-bottom: 3%;

}